<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <appSettings>
        <add key="log-folder" value="c:\log" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SMSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.smssender-gateway.net/SMS.asmx" binding="basicHttpBinding" bindingConfiguration="SMSSoap" contract="SmsSenderService.SMSSoap" name="SMSSoap" />
        </client>
    </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
