<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <appSettings>
        <add key="log-folder" value="c:\log"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SMSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.smssender-gateway.net/SMS.asmx"
                binding="basicHttpBinding" bindingConfiguration="SMSSoap"
                contract="SmsSenderService.SMSSoap" name="SMSSoap" />
        </client>
    </system.serviceModel>

</configuration>
