<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="CN" connectionString="Data Source=EISQLCLU12.D61.tes.local\SQLCLU12;Initial Catalog=EAMS_OL_PA;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="ConnectionString-eng" connectionString="Data Source=EISQLCLU12.D61.tes.local\SQLCLU12;Initial Catalog=EAMS_OL_PA;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="XX" connectionString="Data Source=EISQLCLU12.D61.tes.local\SQLCLU12;Initial Catalog=EAMS_OL_PA;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="ConnectionString" connectionString="Data Source=192.168.88.108;Initial Catalog=apiaut;User ID=sigas;Password=Protec;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />



        <!--   
        <add name="CN" connectionString="Data Source=eisqlitmi01ts.D61.tes.local\SQLDEV05;Initial Catalog=EAMS_TS_SL;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="ConnectionString" connectionString="Data Source=eisqlitmi01ts.D61.tes.local\SQLDEV05;Initial Catalog=EAMS_TS_SL;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

    
    <add key="ConnectionString" value="Data Source=eisqlitmi01ts.D61.tes.local\SQLDEV05;Initial Catalog=EAMS_TS_SL;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

    <add name="CN" connectionString="Data Source=EISQLCLU12.D61.tes.local\SQLCLU12;Initial Catalog=EAMS_OL_PA;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="ConnectionString" connectionString="Data Source=EISQLCLU12.D61.tes.local\SQLCLU12;Initial Catalog=EAMS_OL_PA;User ID=svc-eams;Password=Engie01082019;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
     -->
    </connectionStrings>
    <appSettings>
        <add key="log-folder" value="c:\log" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SMSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SMSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.smssender-gateway.net/SMS.asmx" binding="basicHttpBinding" bindingConfiguration="SMSSoap" contract="SmsSenderService.SMSSoap" name="SMSSoap" />
        </client>
    </system.serviceModel>
</configuration>
